{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block page_heading %}
    <h1><i class="fa fa-suitcase page-header-icon"></i> Customer Details</h1>
        <a class="btn btn-primary pull-right" href="{% url 'update' object.id %}"><i class="fa fa-edit fa-fw"></i> Edit</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <label>Full name:</label>
        {{object.first_name }} {{object.last_name }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>Phone Number:</label>
            {{object.phone_number }}
    </div>
</div>
{% endblock %}