{% extends 'base.html' %}
{% load static %}
{% load multiply %}
{% block page_heading %}
    <h1><i class="fa fa-suitcase page-header-icon"></i> Home</h1>
        <a class="btn btn-primary pull-right" href="{% url 'create' %}"><i class="fa fa-edit fa-fw"></i> Add Customer</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Home</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-5">Full Name</th>
                        <th class="col-md-5">Phone Number</th>
                        <th class="col-md-5">Email</th>
                        <th class="col-md-5">Update</th>
                        <th class="col-md-5">Delete</th>
                    </tr>
                </thead>
                {% if object_list %}
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{% multiply page_obj.number forloop.counter %}</td>
                            <td>
                                <a href="{% url 'details' object.id %}">
                                    {{ object.first_name | striptags | truncatechars:100 }} {{object.last_name}}
                                </a>
                            </td>
                            <td>{{object.phone_number}}</td>
                            <td>{{object.email}}<br /></td>
                            <td>
                            <a class="btn btn-primary pull-right" href="{% url 'update' object.id %}"><i class="fa fa-edit fa-fw"></i> Edit</a>
                            </td>
                            <td>
                            <a class="btn btn-primary pull-right" href="{% url 'delete' object.id %}"><i class="fa fa-edit fa-fw"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
            <div class="panel-footer">
                {% include 'pagepanel.html' %}
            </div>
        </div>
    </div>
{% endblock %}

