<!--pagination control for table-->
<div>
    {% if is_paginated %}
    <ul class="pagination pagination-large pull-right">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">First</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}" >Prev</a></li>
        {% else %}
            <li class="disabled"><span>First</span></li>
            <li class="disabled"><span>Prev</span></li>
        {% endif %}

        {% for i in paginator.page_range %}
            <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" >Next</a></li>
            <li><a href="?page={{ paginator.num_pages }}">Last</a></li>
        {% else %}
            <li class="disabled"><span>Next</span></li>
            <li class="disabled"><span>Last</span></li>
        {% endif %}
    </ul>
    {% endif %}
    {% if page_obj.paginator.count == 0 %}
        <p class="text-center">No records found.</p>
    {% else %}
        <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}.</p>
    {% endif %}
<div>
