{% extends 'base.html' %}
<!--user list panel heading-->
{% block page_heading %}
    <h1><i class="fa fa-question-circle page-header-icon"></i> Update Customer</h1>
{% endblock %}

{% block content %}
<form action="{% url 'update' object.id %}" method="post">{% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">submit</button>
    <a class="btn btn-danger pull-right" href="{% url 'home' %}">cancel</a>
</form>
{% endblock %}